<div class="modal-header">
    <h4 class="modal-title">Potwierdź decyzję</h4>
</div>
<div class="modal-body">
    <p>Jesteś tego pewny?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Nie</button>
    <button type="button" class="btn btn-danger" ng-click="ok()">Tak</button>
</div>
