<div class="modal-header">
    <h3 class="modal-title">Nowe pytanie</h3>
</div>
<div class="modal-body">
    <div class="has-feedback form-group">
        <textarea ng-model="exercise.text" placeholder="Treść" class="form-control" rows=3 required></textarea>
    </div>
    <div ng-repeat="answer in exercise.answers">
        <div class="has-feedback form-group">
            <div class="col-md-2">
                <input type="number" ng-model="answer.number" placeholder="Ita odpowiedź" class="form-control" required>
            </div>
            <div class="col-md-4">
                <input type="text" ng-model="answer.value" placeholder="Odpowiedź" class="form-control" required>
            </div>
            <div class="col-md-4">
                <input type="text" ng-model="answer.hint_text" placeholder="Podpowiedź" class="form-control" required>
            </div>
            <div class="col-md-1">
                <input type="checkbox" ng-model="answer.correct" placeholder="Poprawna?" class="form-control" required>
            </div>
            <div class="col-md-1">
                <i ng-click="deleteAnswer(answer, exercise.answers);" class="fa fa-remove"></i>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <button ng-click="addAnswer(exercise.answers);" class="btn btn-primary">Dodaj odpowiedź</button>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
