<div class="modal-header">
    <h3 class="modal-title">Nowe twierdzenie</h3>
</div>
<div class="modal-body">
    <form role="form" name="theoremNew" novalidate>
        <div class="form-group">
            <input type="text" ng-model="theorem.title" placeholder="Nazwa twierdzenia" class="form-control">
        </div>
        <div class="form-group">
            <textarea ng-model="theorem.text" placeholder="Treść twierdzenia" class="form-control" rows=10></textarea>
        </div>
        <div class="form-group">
            <textarea ng-model="theorem.description" placeholder="Opis twierdzenia" class="form-control"></textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
