<!-- test wielokrotnego wyboru -->
<div class="panel panel-success text-left"
     ng-init="testMultiChoiseAnswer[$index] = []; testMultiChoiseNotice[$index] = []">

    <div class="panel-heading">
        <strong>Test wielokrotnego wyboru</strong>
    </div>

    <div class="panel-body">
        <div class="type-all-interactiveElements-test-multi-choice" ng-repeat="test in data">

            <p>{{ test.text }}</p>
            <label data-ng-repeat="choice in test.answers">
                <input type="checkbox" name="multi-choice{{ test.number }}"
                       ng-click="testMultiChoiseAddAnswer($parent.$parent.$index,$parent.$index,choice.value)"
                       data-ng-value="choice.value"/>
                {{ choice.value }}
            </label>

            <button ng-click="testMultiChoiseCheck($parent.$index, $index, test.answers)">Sprawdź</button>

            <div class="success-message" ng-show="testMultiChoiseNotice[$parent.$index][$index] == 'true'">
                <p class="text-success">Poprawna odpowiedź</p>
            </div>

            <div class="failure-message" ng-show="testMultiChoiseNotice[$parent.$index][$index] == 'false'">
                <p class="text-danger">Zła odpowiedź, sporóbuj jeszcze raz</p>
            </div>

            <div class="empty-message" ng-show="testMultiChoiseNotice[$parent.$index][$index] == 'empty'">
                <p class="text-warning">Zaznacz odpowiedź</p>
            </div>

        </div>
    </div>
</div>