{% extends "web/base.html" %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}
        <p>Na pewno chcesz usunąć?"{{ object }}"?</p>
        <input type="submit" value="Confirm" />
    </form>

{% endblock %}