{% extends "web/base.html" %}

{% load pdb_filter %}

{% block content %}

    <h1>Lista dostępnych pluginów</h1>

    {% load crispy_forms_tags %}
    {% crispy form %}

    <a href="{% url 'plugins:refresh' %}">Odśwież</a>

    <table class="datatable table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th>Opis</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for plugin in plugins %}

            <tr>
                <td>{{ plugin.id }}</td>
                <td>{{ plugin.name }}</td>
                <td>{{ plugin.description }}</td>

                <td>
                    <a href="{% url 'plugins:delete' plugin.id %}">Usuń</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}