<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="home">Generator kursów</a>
    </div>
    <!-- /.navbar-header -->
    <ul class="nav navbar-top-links navbar-right">
        {{ username }}

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="{% url 'plugins:index' %}"><i class="fa fa-plug fa-fw"></i> Pluginy</a>
                </li>
                <li>
                    <a href="{% url 'userTemplates:index' %}"><i class="fa fa-files-o fa-fw"></i> Szablony</a>
                </li>
                <li class="divider"></li>
                <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Wyloguj</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">

                {% for item in menuitems %}

                    <li {% if item.active %}class="active"{% endif %}>
                        <a href="{{ item.url }}">
                            <i class="fa {{ item.icon }}"></i>
                            <span>{{ item.title }}</span>
                            {% if item.children %} <span class="fa arrow"></span> {% endif %}
                        </a>

                        {% if item.children %}
                            <ul class="nav nav-second-level" aria-expanded="false" style="height: 0px;">
                                {% for child in item.children %}
                                    <li>
                                        <a href="{{ child.url }}">
                                            <i class="fa {{ child.icon }}"></i>
                                            {{ child.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>

                        {% endif %}
                    </li>

                {% endfor %}
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
