{% extends "web/base_modal.html" %}

{% load crispy_forms_tags formset_tags pdb_filter %}

{% block modal_content %}

    {% if form.formsets %}

        {% for formset in form.formsets %}
            <div class="formset" data-formset-prefix="{{ formset.prefix }}">
                {{ formset.management_form }}

                {% crispy form %}

                <div data-formset-body>
                    <!-- New forms will be inserted in here -->
                    {% for inline_form in formset %}
                        <div data-formset-form>
                            {% include "interactivity/form.html" with form=inline_form %}
                        </div>
                    {% endfor %}
                </div>

                <!-- The empty form template. By wrapping this in a <script> tag, the
                __prefix__ placeholder can easily be replaced in both attributes and
                any scripts -->
                <script type="form-template" data-formset-empty-form>
                    {% escapescript %}
                        <div data-formset-form>
                            {% crispy formset.empty_form %}
                            <div class="hidden">{{ formset.DELETE }}</div>
                            <button type="button" data-formset-delete-button>Delete form</button>
                        </div>
                    {% endescapescript %}
                </script>
                {{ formset.media }}
                <script>
                    $(".formset").formset({
                        animateForms: true
                    });
                </script>

                <!-- This button will add a new form when clicked -->
                <input type="button" value="Dodaj odpowiedź" data-formset-add>

            </div>

        {% endfor %}

    {% else %}

        {% crispy form %}

    {% endif %}

{% endblock %}