{% extends "web/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {% block title %}
                    {{ title }}
                {% endblock %}

                {% block add_new %}
                    <a href="{% url 'web:home' %}" class="btn btn-primary">Dodaj nowy</a>
                {% endblock %}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Moje {{ title }}
                </div>
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tytuł</th>
                                <th>Autor</th>
                                <th>Opis</th>
                                {% block additional_th %}{% endblock %}
                                <th>Opcje</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for object in my_objects %}
                                <tr>
                                    <td>{{ object.id }}</td>
                                    <td>
                                        <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
                                    </td>
                                    <td>{{ object.createdBy }}</td>
                                    <td>{{ object.description | truncatewords:5 }}</td>
                                    {% block additional_td %}
                                    {% endblock %}
                                    <td>
                                        {% load web_tags %}
                                        {% if object|is_course %}
                                            <a class="fa fa-file-archive-o"
                                               href="{% url 'web:download-course' object.pk %}">Pobierz</a>
                                        {% elif object|is_module %}
                                            <a class="fa fa-file-archive-o"
                                               href="{% url 'web:download-module' object.pk %}">Pobierz</a>
                                        {% elif object|is_material %}
                                            <a class="fa fa-file-archive-o"
                                               href="{% url 'web:download-material' object.pk %}">Pobierz</a>
                                        {% endif %}
                                        <a href="{{ object.get_absolute_delete_url }}" class="modal_runner">Usuń</a>
                                        {% block preview %}
                                        {% endblock %}
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if public_objects %}

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Publiczne {{ title }}
                    </div>
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <table class="table table-striped table-bordered table-hover dataTable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tytuł</th>
                                    <th>Autor</th>
                                    <th>Opis</th>
                                    {% block public_additional_th %}{% endblock %}
                                    <th>Opcje</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in public_objects %}
                                    <tr>
                                        <td>{{ object.id }}</td>
                                        <td>
                                            <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
                                        </td>
                                        <td>{{ object.createdBy }}</td>
                                        <td>{{ object.description | truncatewords:5 }}</td>
                                        {% block public_additional_td %}{% endblock %}
                                        <td>
                                            {% load web_tags %}
                                            {% if object|is_course %}
                                                <a class="fa fa-file-archive-o"
                                                   href="{% url 'web:download-course' object.pk %}">Pobierz</a>
                                            {% elif object|is_module %}
                                                <a class="fa fa-file-archive-o"
                                                   href="{% url 'web:download-module' object.pk %}">Pobierz</a>
                                            {% elif object|is_material %}
                                                <a class="fa fa-file-archive-o"
                                                   href="{% url 'web:download-material' object.pk %}">Pobierz</a>
                                            {% endif %}
                                            {% block public_preview %}{% endblock %}
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}
