{% extends "web/base.html" %}

{% load web_tags %}

{% block content %}
    <legend>
        {% block object_title %}
            {% if object|is_private %}
                <span class="label label-info">Prywatny</span>
            {% else %}
                <span class="label label-warning">Publiczny</span>
            {% endif %}
            {{ title }}: {{ object.title }}
        {% endblock %}
    </legend>
    <div class="panel panel-default">
        <div class="panel-heading">
            Dane podstawowe
        </div>
        <div class="panel-body form-horizontal">
            <div class="has-feedback form-group">
                <label class="col-sm-2 control-label">Tytuł:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{ object.title }}</p>
                </div>
            </div>
            <div class="has-feedback form-group">
                <label class="col-sm-2 control-label">Opis:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{ object.description | safe }}</p>
                </div>
            </div>
            {% block extra_base_data %}
            {% endblock %}
        </div>
    </div>

    {% block extra_panels %}
    {% endblock %}


    {% if object|is_my:request.user %}
        <a href="{{ object.get_absolute_edit_url }}" class="btn btn-primary">Edytuj</a>
        <a href="{{ object.get_absolute_delete_url }}" class="btn btn-danger modal_runner">Usuń</a>
    {% endif %}
    {% block preview %}
        <a href="{{ object.get_absolute_preview_url }}" class="btn btn-success">Podejrzyj</a>
    {% endblock %}

    {% if object|is_my:request.user %}
        {% block publish_private %}
            {% if object|is_private %}
                <a href="{{ object.get_absolute_publish_url }}" class="btn btn-warning modal_runner">Opublikuj</a>
            {% else %}
                <a href="{{ object.get_absolute_private_url }}" class="btn btn-info modal_runner">Uprywatnij</a>
            {% endif %}
        {% endblock %}
    {% endif %}


{% endblock %}
