{% extends "web/base.html" %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Dane podstawowe
                    </div>

                    <div class="panel-body">

                        <fieldset role="tabpanel" class="tab-pane active" id="base_data">
                            <div class="form-horizontal">
                                {% load crispy_forms_tags %}
                                {% crispy form %}
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>

            {% block extra_panels %}
            {% endblock %}

            <div class="clearfix"></div>
            <hr>
            <input type="submit" value="Zapisz" class="btn btn-success">
            <a href="{{ object.get_absolute_url }}" class="btn btn-danger">Anuluj</a>

        </div>
    </form>
{% endblock %}