{% extends "web/base.html" %}

{% block content %}
    <div class="row">
        <h1 class="page-header">
            {% block title %}
                {{ title }}
            {% endblock %}
        </h1>
    </div>
    <div class="row">
        {% block buttons %}
        {% endblock %}
    </div>

{% endblock %}
