<div class="panel panel-default">
    <div class="panel-heading">
        {$ theorem.title $}
    </div>
    <div class="panel-body">
        <div class="col-md-2">
            <label>Treść:</label>
        </div>
        <div class="col-md-10" mathjax-bind="theorem.text">
        </div>
        <div class="clearfix"></div>
        <div class="col-md-2">
            <label>Opis:</label>
        </div>
        <div class="col-md-10">
            {$ theorem.description $}
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<a ui-sref="theorems.edit({ id: theorem.id})" class="btn btn-primary">Edytuj</a>
<button ng-click="delete();" class="btn btn-danger">Usuń</button>
