<form role="form" name="thoremForm" novalidate>
    <div class="panel panel-default">
        <div class="panel-heading">
            Edycja twierdzenia
        </div>
        <div class="panel-body">
            <div class="has-feedback form-group">
                <label>Tytuł:</label>
                <input type="text" class="form-control" ng-model="theorem.title">
            </div>
            <div class="has-feedback form-group">
                <label>Treść:</label>
                <textarea class="form-control" ng-model="theorem.text" rows="5"></textarea>
            </div>
            <div class="has-feedback form-group">
                <label>Opis:</label>
                <textarea class="form-control" ng-model="theorem.description" rows="5"></textarea>
            </div>
        </div>
    </div>
    <input type="submit" ng-click="submit();" class="btn btn-success" value="Zapisz">
</form>
