<!-- test jednokrotnego wyboru -->
<div class="panel panel-success text-left" ng-if="elem.interactive_type.type == 'test-one-choice'"
     ng-init="testOneChoiseAnswer[$index] = []; testOneChoiseNotice[$index] = []">
    <div class="panel-heading">
        <strong>Test jednorkotnego wyboru</strong>
    </div>
    <div class="panel-body">
        <div class="type-all-interactiveElements-test-one-choice" ng-repeat="test in elem.exercises">
            <p>{{ test.text }}</p>

            <div class="radio">
                <label data-ng-repeat="choice in test.answers">

                    <input ng-click="testOneChoiseAddAnswer($parent.$parent.$index,$parent.$index,choice.value)"
                           type="radio" name="one-choice{{ test.number }}" data-ng-value="choice.value"/>
                    {{ choice.value }}

                </label>
            </div>

            <button ng-click="testOneChoiseCheck($parent.$index, $index, test.answers)">Sprawdź</button>

            <div class="success-message" ng-show="testOneChoiseNotice[$parent.$index][$index] == 'true'">
                <p>Poprawna odpowiedź</p>
            </div>

            <div class="failure-message" ng-show="testOneChoiseNotice[$parent.$index][$index] == 'false'">
                <p>Zła odpowiedź, sporóbuj jeszcze raz</p>
            </div>

            <div class="empty-message" ng-show="testOneChoiseNotice[$parent.$index][$index] == 'empty'">
                <p>Zaznacz odpowiedź</p>
            </div>

        </div>
    </div>
</div>