<div class="type-definition" ng-if="material.material_type == 'definition'">

    <div class="panel panel-primary text-left">
        <div class="panel-heading">
            <strong>
                <div class="type-definition-text" mathjax-bind="material.definition.title"></div>
            </strong>
        </div>
        <div class="panel-body">
            <div class="type-definition-text" mathjax-bind="material.definition.text"></div>
        </div>
    </div>


    <div type-video></div>


    <div class="type-definition-interactiveElements"
         ng-repeat="elem in material.interactiveElements | orderBy:'-number':true">

        <!--

        Ogłoszenia projektowe
        - zmiana koncepcji:
        * Pluginacja na 100%
        * nie ma juz testów jako elementów wbudowanych tylko jako pluginy - if you know what I mean :)

        <div test-one-choice></div>
        <div test-multi-choice></div>
        <div single-input></div>
        -->

        <div dynamic-directive="elem.interactive_type" blah="elem"></div>

    </div>

</div>