<div class="type-example" ng-if="material.material_type == 'example'">


    <div class="panel panel-primary text-left">
        <div class="panel-heading">
            <strong>
                <div class="type-example-title" mathjax-bind="material.title "></div>
            </strong>
        </div>
        <div class="panel-body">
            <div class="type-example-text" mathjax-bind="material.description"></div>
        </div>
    </div>

    <div type-video></div>

    <div class="type-example-interactiveElements" ng-repeat="elem in material.interactiveElements">


        <div dynamic-directive="elem.interactive_type" blah="elem"></div>

    </div>

</div>