<div class="type-theorem" ng-if="material.material_type == 'theorem'">


    <div class="panel panel-primary text-left">
        <div class="panel-heading">
            <strong>
                <div class="type-theorem-title" mathjax-bind="material.theorem.title "></div>
            </strong>
        </div>
        <div class="panel-body">
            <div class="type-theorem-text" mathjax-bind="material.theorem.text"></div>
        </div>
    </div>

    <div type-video></div>

    <div class="type-theorem-interactiveElements" ng-repeat="elem in material.interactiveElements">


        <div dynamic-directive="elem.interactive_type" blah="elem"></div>


    </div>

</div>