<div class="type-proof" ng-if="material.material_type == 'proof'">

    <div type-video></div>


    <div class="panel panel-primary text-left">
        <div class="panel-heading">
            <strong>
                Cały dowód
            </strong>
        </div>
        <div class="panel-body">
            <div class="type-proof-text" mathjax-bind="material.proof.text" ng-show="fullProof"></div>
            <button ng-click="showFullProof()" ng-show="!fullProof" class="btn btn-info btn-xs">Pokaż</button>
        </div>
    </div>


    <div class="panel panel-primary text-left">
        <div class="panel-heading">
            <strong>Podział na części </strong>
        </div>
        <div class="panel-body">
            <button ng-click="showMoreParts()" class="btn btn-info btn-xs" ng-show="numberPart <= PartProof">Pokaż
            </button>
            <div class="type-proof-text" ng-repeat="part in material.proof.parts">
                <div class="type-proof-text-show" ng-show="numberPart > part.id">
                    <h3>Cześć - {{ $index + 1 }}</h3>
                    <p>{{ part.text }}</p>
                </div>
            </div>
        </div>
    </div>


    <div class="type-proof-interactiveElements" ng-repeat="elem in material.interactiveElements">


        <div dynamic-directive="elem.interactive_type" blah="elem"></div>


    </div>

</div>