{% extends "base/object_list.html" %}

{% block title %} Moduły {% endblock %}

{% block add_new %}
    <a href="{% url 'module:new' %}" class="btn btn-primary">Dodaj nowy</a>
{% endblock %}

{% block preview %}
    <a href="{% url 'web:preview' 'module' object.id %}">Podejrzyj</a>
{% endblock %}