{% extends "base/object_detail.html" %}

{% load pdb_filter web_tags %}


{% block extra_panels %}
    {% if object.interactiveElements.all %}
        <div class="panel panel-default">
            <div class="panel-heading">
                Elementy interaktywne
            </div>
            <div class="panel-body form-horizontal">
                {% for interactiveElement in object.interactiveElements.all %}

                    {% interactive_elements_display interactiveElement %}

                {% endfor %}
            </div>
        </div>

    {% endif %}
{% endblock %}
