{% extends "base/object_list.html" %}

{% block title %} Materiały {% endblock %}

{% block add_new %}
    <a href="{% url 'material:new' %}" class="btn btn-primary">Dodaj nowy</a>
{% endblock %}

{% block additional_th %}
    <th>Typ</th>
{% endblock %}

{% block additional_td %}
    <td>{{ object.get_visible_name }}</td>
{% endblock %}

{% block preview %}
    <a href="{% url 'web:preview' 'material' object.id %}">Podejrzyj</a>
{% endblock %}

{% block public_preview %}
    <a href="{% url 'web:preview' 'material' object.id %}">Podejrzyj</a>
{% endblock %}

{% block public_additional_th %}
    <th>Typ</th>
{% endblock %}

{% block public_additional_td %}
    <td>{{ object.get_visible_name }}</td>
{% endblock %}