{% extends "web/base.html" %}

{% block content %}
    <legend>{{ page_title }}</legend>

    <form action="" method="post" enctype="multipart/form-data">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#base_data" aria-controls="base_data" role="tab"
                                                      data-toggle="tab">Dane podstawowe</a></li>
            <li role="presentation"><a href="#interactivity" aria-controls="interactivity" role="tab" data-toggle="tab">Elementy
                interaktywne</a></li>
        </ul>

        <div class="tab-content">

            <fieldset role="tabpanel" class="tab-pane active" id="base_data">
                <div class="form-horizontal">
                    {% load crispy_forms_tags %}
                    {% crispy form crispy_helper %}
                </div>
            </fieldset>
            <fieldset role="tabpanel" class="tab-pane" id="interactivity">
                <div class="form-horizontal">

                    <div id="interactive_type_buttons">
                        {% for item_type in interactive_elements %}
                            <button data-href="{{ item_type.href }}"
                                    class="btn btn-primary">{{ item_type.text }}</button>
                        {% endfor %}
                    </div>

                    <div class="panel-group accordion" id="forms" role="tablist" aria-multiselectable="true">
                        {% for form in form_list %}
                            {% include "interactivity/form_formset.html" with form=form %}
                        {% endfor %}
                    </div>
                </div>
            </fieldset>

        </div>
        <input type="submit" value="Zapisz" class="btn btn-success">

    </form>


{% endblock %}
