{% extends "base/type_choice.html" %}

{% block title %} Wybierz konkretny typ materiału {% endblock %}

{% block buttons %}

    <div class="row">
        <a href="{% url 'material:proof:new' %}">
        <div class="col-sm-3">
            <a href="{% url 'material:proof:new' %}">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Dowód</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="{% url 'material:definition:new' %}">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Definicja</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="{% url 'material:example:new' %}">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Przykład</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="{% url 'material:theorem:new' %}">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-support"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Twierdzenie</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>






{% endblock %}



