<legend>Kurs: {$ course.title $}</legend>
<div class="panel panel-default">
    <div class="panel-heading">
        Dane postaowowe
    </div>
    <div class="panel-body form-horizontal">
        <div class="has-feedback form-group">
            <label class="col-sm-2 control-label">Tytuł:</label>
            <div class="col-sm-10">
                <p class="form-control-static">{$ course.title $}</p>
            </div>
        </div>
        <div class="has-feedback form-group">
            <label class="col-sm-2 control-label">Opis:</label>
            <div class="col-sm-10">
                <p class="form-control-static">{$ course.description $}</p>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Moduły powiązane z kursem
    </div>
    <div class="panel-body">
        <accordion close-others="true">
            <accordion-group ng-repeat="module in course.modules">
                <accordion-heading is-open="module.open">
                    Moduł: '{$ module.title $}'" <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-right': module.open, 'glyphicon-chevron-down': !module.open}"></i>
                </accordion-heading>
                <dl class="dl-horizontal">
                    <dt>Tytuł:</dt>
                    <dd>{$ module.title $}</dd>
                    <dt>Opis:</dt>
                    <dd>{$ module.description $}</dd>
                </dl>
                <a ui-sref="modules.detail({ id: module.id })" class="btn btn-default">Zobacz więcej</a>
            </accordion-group>
        </accordion>

        <div class="alert" ng-hide="course.modules.length">
            BRAK!
        </div>
    </div>
</div>
<a ui-sref="courses.edit({id: course.id })" class="btn btn-primary">Edytuj</a>
<button ng-click="delete();" class="btn btn-danger">Usuń</button>
