<legend>Edycja kursu: {$ course.title $}</legend>
<form role="form" name="courseNewForm" novalidate>
    <div class="panel panel-default">
        <div class="panel-heading">
            Dane podstawowe
        </div>
        <div class="panel-body">
            <div class="has-feedback form-group">
                <label>Tytuł:</label>
                <input type="text" class="form-control" ng-model="course.title">
            </div>
            <div class="has-feedback form-group">
                <label>Opis:</label>
                <textarea class="form-control" ng-model="course.description" rows="5"></textarea>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Wybierz moduły
        </div>
        <div class="panel-body">
            <div class="has-feedback form-group" ng-show="course.modules.length">
                <label>Obecne moduły:</label>
                <ul class="list-unstyled">
                    <li ng-repeat="item in course.modules">
                        <div class="col-sm-4">
                            {$ item.title $}
                        </div>
                        <div class="col-sm-4">
                            <i class="fa fa-remove" ng-click="removeModule(item, course.modules)"></i>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>
            <div class="has-feedback form-group">
                <label>Dodaj nowy moduł:</label>
                <input type="text" ng-model="selected" typeahead="module.title for module in modules | filter:$viewValue | limitTo:8" class="form-control" placeholder="Szukaj po tytule" typeahead-on-select="selectModule($item, $model, $label)" typeahead-no-results="noResults">
                <div ng-show="noResults">
                    <i class="glyphicon glyphicon-remove"></i> Nie znaleziono podanego materiału
                </div>
            </div>
        </div>
    </div>
    <input type="submit" ng-click="submit();" class="btn btn-success" value="Zapisz">
    <a ui-sref="courses.detail({id: course.id })" class="btn btn-warning">Anuluj</a>
</form>
