<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Kursy
            <a ui-sref="courses.new" class="btn btn-primary">Dodaj nowy</a>
        </h1>
    </div>
</div>
<div ui-view>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Lista aktualnych
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Aktualne kursy
                </div>
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tytuł</th>
                                    <th>Opis</th>
                                    <th>Moduły</th>
                                    <th>Opcje</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="course in courses">
                                    <td>{$ course.id $}</td>
                                    <td>
                                        <a ui-sref="courses.detail({id: course.id}) ">{$ course.title $}</a>
                                    </td>
                                    <td>{$ course.description $}</td>
                                    <td>
                                        <span ng-repeat="module in course.modules">
                                            <a ui-sref="modules.detail({ id: module.id })">{$ module.title $}</a>, 
                                        </span>
                                    </td>
                                    <td>
                                        <a class="fa fa-file-archive-o" ng-href="/download/html/{$ course.id $}"></a>
                                        <a class="fa fa-file-pdf-o" ng-href="/download/pdf/{$ course.id $}" style="color: red"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
