{% extends "web/base.html" %}

{% load pdb_filter %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Wybierz szablon
            </h1>

            <ul>
                <li>
                    <a href="{% url 'web:download-without-template' item_type item_id %}">domyślnie (bez własnego szablonu)</a>
                </li>
            {% for template in templates %}

                <li>
                <a href="{% url 'web:download-using-template' item_type item_id template %}">{{ template }}</a>
                </li>
            {% endfor %}
            </ul>

        </div>
    </div>
{% endblock %}
