{% extends "web/base.html" %}

{% block content %}

<h1>Usuwanie szablonu</h1>
<p>Czy na pewno chcesz usunąć szablon {{ name }}?</p>

<p>
    <a href="{% url 'userTemplates:delete-confirm' name %}" class="btn btn-danger">Usuń</a>
    <a href="{% url 'userTemplates:index' %}" class="btn btn-default">Anuluj</a>
</p>

{% endblock %}
