{% extends "web/base.html" %}

{% load pdb_filter %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Lista dostępnych szablonów
            </h1>

            <p><a href="{% url 'userTemplates:upload-template' %}" class="btn btn-primary">Dodaj nowy</a></p>

            <table class="datatable table">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                {% for template in templates %}

                    <tr>
                        <td>{{ template }}</td>

                        <td>
                            <a href="{% url 'userTemplates:delete' template %}">Usuń</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
