{% extends "web/base.html" %}

{% load pdb_filter %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Dodaj własny szablon

            </h1>
            <p>
                {% load crispy_forms_tags %}
                {% crispy form %}
            </p>
        </div>
    </div>
{% endblock %}
