{% extends "base/object_list.html" %}

{% block title %} Kursy {% endblock %}

{% block add_new %}
    <a href="{% url 'course:new' %}" class="btn btn-primary">Dodaj nowy</a>
{% endblock %}

{% block preview %}
    <a href="{% url 'web:preview' 'course' object.id %}">Podejrzyj</a>
{% endblock %}

