{% extends "web/base.html" %}

{% block page_wrapper %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Zaloguj się</h3>
                </div>
                <div class="panel-body">
                    {% if form.errors %}
                        <ul class="errorlist">
                            <li>Zły login lub hasło</li>
                        </ul>
                    {% endif %}
                    <form role="form" method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="username" name="username" type="text" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" value="">
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <input type="submit" class="btn btn-lg btn-success btn-block" value="Login">
                        </fieldset>
                    </form>
                </div>
                <div class="panel-footer">
                    <a href="{% url 'accounts:registration_register' %}">Lub założ nowe konto</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
