{% extends "web/base.html" %}

{% block page_wrapper %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Załóż nowe konto</h3>
                    </div>
                    <div class="panel-body">
                        {% if form.errors %}
                            <ul class="errorlist">
                                <li>Zły login lub hasło</li>
                            </ul>
                        {% endif %}
                        {% load crispy_forms_tags %}

                        <form action="" method="POST">
                            {% crispy form crispy_related_form_helper %}

                            <input type="submit" class="btn btn-lg btn-success btn-block" value="Załóż konto">
                        </form>
                    </div>
                    <div class="panel-footer">
                        <a href="{% url 'login' %}">Lub się zaloguj</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
