<div class="plugin-video">

    <div class="panel panel-warning">

        <div class="panel-heading text-left">
            <h3 class="panel-title">{{ title }}</h3>
        </div>
        <div class="iframe-parent panel-body embed-responsive embed-responsive-16by9">

            <iframe class="iframe embed-responsive-item" ng-src="{{ src }}"></iframe>

        </div>


    </div>

</div>