<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Tworzenie nowego</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Nowy
            </div>
            <div class="panel-body">
                <form role="form" name="{{ model_form.form_name }}" novalidate>
                    {{ model_form.as_div }}

                    <input type="submit" class="btn" ng-disabled="{{ model_form.form_name }}.$invalid" value="Submit" ng-click="submit()">
                </form>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
