<script type="text/ng-template" id="single-input.html">
    <div class="has-feedback form-group">
        <label for="question-input" class="col-sm-2 control-label">Pytanie</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="element.question" id="question-input">
        </div>
    </div>
    <div class="has-feedback form-group">
        <label for="answer-input" class="col-sm-2 control-label">Odpowiedź</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="element.answer" rows=5 id="answer-input">
        </div>
    </div>
</script>