{% load crispy_forms_tags formset_tags %}

<div class="panel panel-default interactive-element-form" id="form{{ form.form_number }}">
    <div class="panel-heading" role="tab" id="heading{{ form.form_number }}">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="#collapse{{ form.form_number }}" aria-expanded="true" aria-controls="collapse{{ form.form_number }}">
                {{ form.form_title }} #{{ form.form_number }}
            </a>
            <a role="button" class="pull-right remove-interactive-element-button">
                <i class="fa fa-remove"></i>
            </a>
        </h4>
    </div>
    <div id="collapse{{ form.form_number }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ form.form_number }}">
        <div class="panel-body">
            {% crispy form %}
            <input type="hidden" value="{{ form.form_id }}" name="{{ form.form_number }}" class="form_number">

            {% if form.formsets %}

                {% for formset in form.formsets %}

                    <div class="formset" data-formset-prefix="{{ formset.prefix }}">
                        {{ formset.management_form }}

                        <div data-formset-body>
                            <!-- New forms will be inserted in here -->
                            {% for inline_form in formset %}
                                <div data-formset-form>
                                    {% include "interactivity/form.html" with form=inline_form base_form=form form_title="Odpowiedź" %}
                                </div>
                            {% endfor %}
                        </div>

                        <!-- The empty form template. By wrapping this in a <script> tag, the
                        __prefix__ placeholder can easily be replaced in both attributes and
                        any scripts -->
                        <script type="form-template" data-formset-empty-form>
                            {% escapescript %}
                                <div data-formset-form>
                                    {% include "interactivity/form.html" with form=formset.empty_form base_form=form form_title="Odpowiedź" %}
{#                                    {% crispy formset.empty_form crispy_helper %}#}
{#                                    <div class="hidden">{{ formset.DELETE }}</div>#}
{#                                    <button type="button" data-formset-delete-button>Delete form</button>#}
                                </div>
                            {% endescapescript %}


                        </script>
                        <script>
                            $('input[name$="DELETE"]').parents('.form-group').hide();
                        </script>

                        <!-- This button will add a new form when clicked -->
                        <input type="button" value="Dodaj odpowiedź" data-formset-add>

                    </div>

                {% endfor %}

            {% endif %}
        </div>
    </div>
</div>