{% load crispy_forms_tags formset_tags %}

<div class="col-lg-4 col-md-6">
    <div class="panel panel-default ">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ form_title }} {{ form.number.value }}
                <span data-formset-delete-button class="pull-right fa fa-remove"></span>
            </h3>
        </div>
        <div class="panel-body">

            {% crispy form crispy_related_form_helper %}

        </div>
    </div>
</div>