<div class="picture-content">

    <div class="panel panel-warning">
        <div class="panel-heading text-left">
            <h3 class="panel-title">{{ title }}</h3>
        </div>
        <div class="panel-body">
            <img ng-src="{{ picture_src }}" class="img-rounded img-responsive" alt="picture">
        </div>
    </div>

</div>



