<div class="row">
    <div class="col-lg-12">
        <tabset justified="true">
            <tab heading="Dane ogólne">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Dane postawowe
                        </div>
                        <div class="panel-body">
                            <dl class="dl-horizontal">
                                <dt>Tytuł:</dt>
                                <dd>{$ material.title $}</dd>

                                <dt>Dupa:</dt>
                                <dd>{$ material.theorem.title $}</dd>

                            </dl>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Elementy interaktywne
                        </div>
                        <div class="panel-body">
                            <div class="row" ng-repeat="element in material.interactiveElements">

                                <label>Tytuł:</label>
                                {$ element.title $}
    
                                
                            </div>
                        </div>
                    </div>
            </tab>
            <tab heading="Wideo">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Element wideo
                    </div>
                    <div class="panel-body">
                        <div class="text-center">
                            <youtube-video video-url="material.video"></youtube-video>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="PDF">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Wersja drukowalna
                    </div>
                    <div class="panel-body">
                        {$ material.outputPdf $}
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
