<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Materiały
            <a ui-sref="materials.new" class="btn btn-primary">Dodaj nowy</a>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div ui-view>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Lista
            </h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Aktualne materiały
                </div>
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tytuł</th>
                                    <th>Opis</th>
                                    <th>Typ materiału</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="material in materials">
                                    <td>{$ material.id $}</td>
                                    <td>
                                        <a ui-sref="materials.{$ material.material_type $}.detail({id: material.id})">
                                            {$ material.title $}
                                        </a>
                                    </td>
                                    <td>{$ material.description $}</td>
                                    <td>{$ material.material_type $}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
