<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Wybierz typ nowego materiału
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row material-new">
    <div class="col-lg-2 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <a ui-sref="materials.theorem.new" href="">
                        <div class="text-center">Twierdzenie</div> 
                    </a>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
    <div class="col-lg-2 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <a ui-sref="materials.proof.new" href="">
                        <div class="text-center">Dowód</div> 
                    </a>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
    <!-- <div class="col-lg-2 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <a ui-sref="materials.exercise.new" href="">
                        <div class="text-center">Ćwiczenie</div> 
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- /.col-lg-12 -->
    <div class="col-lg-2 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <a ui-sref="materials.definition.new" href="">
                        <div class="text-center">Definicja</div> 
                    </a>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
    <div class="col-lg-2 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <a ui-sref="materials.example.new" href="">
                        <div class="text-center">Przykład</div> 
                    </a>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->

</div>
<!-- /.row -->