<h2>Twierdzenie</h2>
<form role="form" name="modalTheory" novalidate class="form-horizontal">
    <tabset justified="true">
        <tab heading="Dane ogólne">
            <fieldset>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Dane postawowe
                    </div>
                    <div class="has-feedback form-group">
                        <label for="ex1" class="col-sm-2 control-label">Twierdzenie</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{$ material.theorem.title $}</p>
                            <p class="form-control-static" mathjax-bind="material.theorem.text"></p>
                        </div>
                    </div>
                    <div class="has-feedback form-group">
                        <label for="title-input" class="col-sm-2 control-label">Tytuł materiału</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{$ material.title $}</p>
                        </div>
                    </div>
                    <div class="has-feedback form-group" ng-show="material.description">
                        <label for="description-input" class="col-sm-2 control-label">Opis</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{$ material.description $}</p>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Elementy interaktywne </legend>
                <div class="panel panel-default" ng-repeat="element in material.interactiveElements">
                    <div class="panel-heading">
                        [Nr {$ element.number $}] {$ element.interactive_type.text $}
                    </div>
                    <div class="panel-body">
                        <div ng-show="element.interactive_type.type == 'test-one-choice' || element.interactive_type.type == 'test-multi-choice'">
                            <accordion close-others="true">
                                <accordion-group ng-repeat="exercise in element.exercises">
                                    <accordion-heading is-open="exercise.open">
                                        Pytanie {$ exercise.number $}: '{$ exercise.text $}'" <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-right': exercise.open, 'glyphicon-chevron-down': !exercise.open}"></i>
                                    </accordion-heading>
                                    <div ng-repeat="answer in exercise.answers">
                                        <div class="col-md-2">
                                            {$ answer.number $})
                                        </div>
                                        <div class="col-md-8">
                                            {$ answer.value $}
                                        </div>
                                        <div class="col-md-2">
                                            <i ng-class="{'fa fa-check': answer.correct, 'fa fa-minus': !answer.correct}"></i>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </accordion-group>
                            </accordion>
                        </div>
                        <div ng-show="element.interactive_type.type == 'single-input'">
                            <div class="has-feedback form-group">
                                <label for="question-input" class="col-sm-2 control-label">Pytanie</label>
                                <div class="col-sm-10">
                                    {$ element.question $}
                                </div>
                            </div>
                            <div class="has-feedback form-group">
                                <label for="answer-input" class="col-sm-2 control-label">Odpowiedź</label>
                                <div class="col-sm-10">
                                    {$ element.answer $}
                                </div>
                            </div>
                        </div>
                        <div ng-show="element.interactive_type.type == 'canvas-element'">
                            <div class="has-feedback form-group">
                                <label for="script-input" class="col-sm-2 control-label">Polecenie JS</label>
                                <div class="col-sm-10">
                                    {$ element.script $}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </tab>
        <tab heading="Wideo">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Element wideo
                </div>
                <div class="panel-body" ng-if="material.video">
                    <div class="text-center">
                        <youtube-video video-url="material.video"></youtube-video>
                    </div>
                </div>
                <div class="panel-body" ng-if="!material.video">
                    Nie podano adresu url do filmu
                </div>
            </div>
        </tab>
        <tab heading="PDF">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Wersja drukowalna
                </div>
                <div class="panel-body" mathjax-bind="material.outputPdf"></div>
            </div>
        </tab>
    </tabset>
    <hr>
    <a ui-sref="materials.theorem.edit({ id: material.id })" class="btn btn-primary">Edytuj</a>
    <button ng-click="delete()" class="btn btn-danger">Usuń</button>
</form>
