<form role="form" name="modalTheory" novalidate class="form-horizontal">
    <tabset justified="true">
        <tab heading="Dane ogólne">
            <fieldset>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Dane postawowe
                    </div>
                    <div class="panel-body">
                        <div class="has-feedback form-group" ng-show="material.theorem">
                            <label for="original" class="col-sm-2 control-label">Wybrane twierdzenie</label>
                            <div class="col-sm-10">
                                <p class="form-control-static" id="original">{$ material.theorem.title $}</p>
                            </div>
                        </div>
                        <div class="has-feedback form-group">
                            <label for="ex1" class="col-sm-2 control-label">Zmień</label>
                            <div class="col-sm-9 col-xs-11">
                                <angucomplete id="ex1" placeholder="Szukaj twierdzenia" pause="100" selectedobject="material.theorem" localdata="theorems" searchfields="title" titlefield="title" minlength="1" inputclass="form-control form-control-small" />
                            </div>
                            <div class="col-xs-1">
                                <span class="glyphicon glyphicon-plus text-success" ng-click="open();"></span>
                            </div>
                        </div>
                        <div class="has-feedback form-group">
                            <label for="title-input" class="col-sm-2 control-label">Tytuł</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="material.title" id="title-input">
                            </div>
                        </div>
                        <div class="has-feedback form-group">
                            <label for="description-input" class="col-sm-2 control-label">Opis</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" ng-model="material.description" rows=5 id="description-input"></textarea>
                            </div>
                        </div>
                    </div>
            </fieldset>
            <fieldset>
                <legend>Elementy interaktywne </legend>
                <div class="panel panel-default" ng-repeat="element in material.interactiveElements">
                    <div class="panel-heading">
                        [Nr {$ element.number $}] {$ element.interactive_type.text $}
                        <i ng-click="removeElement(element, material.interactiveElements)" class="pull-right fa fa-remove" style="color: red; font-size: 25px;"></i>
                    </div>
                    <div class="panel-body">
                        <div class="has-feedback form-group" ng-hide="element.interactive_type">
                            <label for="interactive_type-input" class="col-sm-2 control-label">Typ elementu</label>
                            <div class="col-md-10">
                                <select class="form-control" ng-model="element.interactive_type" ng-options="type.text for type in interactiveTypes" id="interactive_type-input">
                                </select>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div ng-show="element.interactive_type.type == 'test-one-choice' || element.interactive_type.type == 'test-multi-choice'">
                            <accordion close-others="true">
                                <accordion-group ng-repeat="exercise in element.exercises">
                                    <accordion-heading is-open="exercise.open">
                                        Pytanie {$ exercise.number $}: '{$ exercise.text $}'" <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-right': exercise.open, 'glyphicon-chevron-down': !exercise.open}"></i>
                                    </accordion-heading>
                                    <div ng-repeat="answer in exercise.answers" class="dl-horizontal">
                                        <div class="col-md-2">
                                            {$ answer.number $})
                                        </div>
                                        <div class="col-md-8">
                                            {$ answer.value $}>
                                        </div>
                                        <div class="col-md-2">
                                            <i ng-class="{'fa fa-check': answer.correct, 'fa fa-minus': !answer.correct}"></i>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="spacer"></div>
                                    <button ng-click="editExercise(exercise, element.exercises);" class="btn btn-primary fa fa-pencil"> Edytuj</button>
                                    <button ng-click="deleteExercise(exercise, element.exercises);" class="btn btn-danger fa fa-remove"> Usuń</button>
                                </accordion-group>
                            </accordion>
                            <button ng-click="addExercise(element.exercises);" class="btn btn-default">Dodaj pytanie</button>
                        </div>
                        <div ng-show="element.interactive_type.type == 'single-input'">
                            <div class="has-feedback form-group">
                                <label for="question-input" class="col-sm-2 control-label">Pytanie</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="element.question" id="question-input">
                                </div>
                            </div>
                            <div class="has-feedback form-group">
                                <label for="answer-input" class="col-sm-2 control-label">Odpowiedź</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="element.answer" rows=5 id="answer-input">
                                </div>
                            </div>
                        </div>
                        <div ng-show="element.interactive_type.type == 'canvas-element'">
                            <div class="has-feedback form-group">
                                <label for="script-input" class="col-sm-2 control-label">Polecenie JS</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" ng-model="element.script" id="script-input" rows=5></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button ng-click="newElement(material.interactiveElements);" class="btn btn-primary">Dodaj nowy</button>
            </fieldset>
        </tab>
        <tab heading="Wideo">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Element wideo
                </div>
                <div class="panel-body">
                    <div class="has-feedback form-group">
                        <label>Ścieżka url</label>
                        <input type="url" class="form-control" ng-model="material.video">
                    </div>
                    <div class="text-center">
                        <youtube-video video-url="material.video"></youtube-video>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="PDF">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Wersja drukowalna
                </div>
                <div class="panel-body">
                    <div class="has-feedback form-group">
                        <label>Tekst PDF</label>
                        <textarea class="form-control" rows="10" ng-model="material.outputPdf"></textarea>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
    <hr>
    <input type="submit" class="btn btn-success" value="Zapisz" ng-click="submit()">
    <input type="submit" class="btn btn-warning" value="Anuluj" ng-click="cancel()">
</form>
