<div class="plugin-video">

    <div class="panel panel-warning">

        <div class="panel-heading text-left">
            <h3 class="panel-title">{{ title }}</h3>
        </div>
        <div class="panel-body" ng-if="videoSrcYT != ''">
            <youtube-video video-url="videoSrcYT" player-width="'100%'"></youtube-video>
        </div>
        <div class="panel-body" ng-if="videoSrcFile != ''">
            <video controls>
                <source ng-src="{{ videoSrcFile }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

    </div>

</div>