<legend>Moduł: {$ module.title $}</legend>
<div class="panel panel-default">
    <div class="panel-heading">
        Dane postaowowe
    </div>
    <div class="panel-body form-horizontal">
        <div class="has-feedback form-group">
            <label class="col-sm-2 control-label">Tytuł:</label>
            <div class="col-sm-10">
                <p class="form-control-static">{$ module.title $}</p>
            </div>
        </div>
        <div class="has-feedback form-group">
            <label class="col-sm-2 control-label">Opis:</label>
            <div class="col-sm-10">
                <p class="form-control-static">{$ module.description $}</p>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Materiały powiązane z modułem
    </div>
    <div class="panel-body">
        <accordion close-others="true">
            <accordion-group ng-repeat="material in module.materials">
                <accordion-heading is-open="material.open">
                    Materiał szkoleniowy [{$ material.material_type $}]: '{$ material.title $}'" <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-right': material.open, 'glyphicon-chevron-down': !material.open}"></i>
                </accordion-heading>
                <dl class="dl-horizontal">
                    <dt>Tytuł:</dt>
                    <dd>{$ material.title $}</dd>
                    <dt>Opis:</dt>
                    <dd>{$ material.description $}</dd>
                </dl>
                <a ui-sref="materials.{$ material.material_type $}.detail({ id: material.id })" class="btn btn-default">Zobacz więcej</a>
            </accordion-group>
        </accordion>
    </div>
</div>
<a ui-sref="modules.edit({id: module.id })" class="btn btn-primary">Edytuj</a>
<button ng-click="delete();" class="btn btn-danger">Usuń</button>
