<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Moduły
            <a ui-sref="modules.new" class="btn btn-primary">Dodaj nowy</a>
        </h1>
    </div>
</div>
<div ui-view>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Lista aktualnych
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Aktualne moduły
                </div>
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tytuł</th>
                                    <th>Opis</th>
                                    <th>Materiały</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="module in modules">
                                    <td>{$ module.id $}</td>
                                    <td>
                                        <a ui-sref="modules.detail({id: module.id}) ">{$ module.title $}</a>
                                    </td>
                                    <td>{$ module.description $}</td>
                                    <td>
                                        <span ng-repeat="material in module.materials">
                                            <a ui-sref="materials.{$ material.material_type $}.detail({ id: material.id })">{$ material.title $}</a>, 
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
