<legend>Tworzenie nowego modułu</legend>
<form role="form" name="moduleNewForm" novalidate>
    <div class="panel panel-default">
        <div class="panel-heading">
            Dane podstawowe
        </div>
        <div class="panel-body">
            <div class="has-feedback form-group">
                <label>Tytuł:</label>
                <input type="text" class="form-control" ng-model="module.title">
            </div>
            <div class="has-feedback form-group">
                <label>Opis:</label>
                <textarea class="form-control" ng-model="module.description" rows="5"></textarea>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Wybierz materiały
        </div>
        <div class="panel-body">
            <div class="has-feedback form-group" ng-show="module.materials.length">
                <label>Obecne materiały:</label>
                <ul class="list-unstyled">
                    <li ng-repeat="item in module.materials">
                        <div class="col-sm-4">
                            [{$ item.material_type $}] {$ item.title $}
                        </div>
                        <div class="col-sm-4">
                            <i class="fa fa-remove" ng-click="removeMaterial(item, module.materials)"></i>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>
            <div class="has-feedback form-group">
                <label>Dodaj nowy materiał:</label>
                <input type="text" ng-model="selected" typeahead="material.title for material in materials | filter:$viewValue | limitTo:8" class="form-control" placeholder="Szukaj po tytule" typeahead-on-select="selectMaterial($item, $model, $label)" typeahead-no-results="noResults">
                <div ng-show="noResults">
                    <i class="glyphicon glyphicon-remove"></i> Nie znaleziono podanego materiału
                </div>
            </div>
        </div>
    </div>
    <input type="submit" ng-click="submit();" class="btn btn-success" value="Utwórz">
</form>
