<!-- single input -->
<div class="panel panel-success text-left">

    <div class="panel-heading">
        <strong>Pytanie z otwartą odpowiedzią</strong>
    </div>

    <div class="panel-body">
        <div class="type-all-interactiveElements-single-input">

            <h4>{{ data.question }}</h4>
            <div class="single-input-answer">

                <input type="text" name="single" ng-model="singleAnswerInputTab[$index]" placeholder="Wpisz odpowiedź"
                       class="form-control"/><br>
                <p>Twoja odpowiedź to: <span mathjax-bind="singleAnswerInputTab[$index]"></span></p>
                <button class="btn btn-success btn-xs" ng-click="checkInputSingle($index, data.answer)">Sprawdź</button>

                <p ng-show="answerMarek[$index] == 'dobrze'" class="text-success">Dobra odpowiedź</p>
                <p ng-show="answerMarek[$index] == 'zle'" class="text-danger">Niestety nie :/</p>
                <p ng-show="answerMarek[$index] == 'pusty'" class="text-warning">Wypełnij pole</p>

            </div>

        </div>
    </div>
</div>