<div class="row">
    <div class="col-md-12">
        <div class="error-template">
            <h1>
                Oops!</h1>
            <h2>
                404 Nie znaleziono strony o podanym adresie</h2>
            <div class="error-details">
                Przykro nam, ale strona o podanym adresie nie istnieje
            </div>
            <div class="error-actions">
                <a ng-click="goToHome()" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                    Powrót do strony głównej </a>
            </div>
        </div>
    </div>
</div>

