<div class="jumbotron">
    <h1 class="text-center" mathjax-bind="course.title"></h1>
    <blockquote class="blockquote-reverse">

        <p><span mathjax-bind="course.description"></span>.</p>
        <footer>Autor kursu: {{ course.createdBy.username }}</footer>
    </blockquote>
</div>


<div class="col-md-6"><a class="btn btn-block btn-success" ui-sref="courseContent()">Rozpocznij kurs</a></div>
<div class="col-md-6">
    <button class="btn btn-block btn-primary" ng-click="goFullscreen()">{{ screen }}</button>
</div>