<h2>Zawartość kursu</h2>

<div class="well">
    <div class="row">
        <div class="col-sm-6">
            <label for="search">Szukaj:</label>
            <input placeholder="Wpisz szukaną frazę" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"
                   ng-model="q">
        </div>
        <div class="col-sm-6">
            <label for="search">Liczba kursów na stronę:</label>
            <input type="number" ng-model="pageSize"
                   class="form-control ng-valid ng-valid-min ng-valid-max ng-dirty ng-valid-number ng-touched" max="100"
                   min="1">
        </div>
    </div>
</div>

<div class="well" dir-paginate="module in modules | filter:q | itemsPerPage: pageSize">
    Nazwa: <span mathjax-bind="module.title"></span>
    <br> Opis: <span mathjax-bind="module.description"></span>
    <br> Autor: <span mathjax-bind="module.createdBy.username"></span>

    <ul class="pager">
        <li class="next"><a class="btn btn-success btn-sm" ui-sref="moduleContent({id: module.id})">Zobacz więcej →</a>
        </li>
    </ul>

</div>
<div class="text-center">
    <dir-pagination-controls template-url="partials/dirPagination.tpl.html"></dir-pagination-controls>
</div>

<div class="btn-group btn-group-justified">
    <a ui-sref="courseDescription" class="btn btn-default">Powrót do sekcji kursu</a>
    <a ng-click="goFullscreen()" class="btn btn-primary">{{ screen }}</a>
</div>