<div class="row">
    <div class="col-sm-3">
        <h3 ng-if="COURSE_VIEW_TYPE < 2" class="text-center">Nawigacja: </h3>
        <ul ng-if="COURSE_VIEW_TYPE < 2" class="pager">
            <li><a ui-sref="materialView({id2: previousMaterialId, id1: id1})">Poprzedni</a></li>
            <li><a ui-sref="materialView({id2: nextMaterialId , id1: id1})">Następny</a></li>
        </ul>
        <a ng-if="COURSE_VIEW_TYPE < 2" ui-sref="moduleContent({id: id1})" class="btn btn-block btn-default">Powrót</a>
        <button class="btn btn-block btn-primary" ng-click="goFullscreen()">{{ screen }}</button>
        <h3 ng-if="COURSE_VIEW_TYPE < 2" class="text-center">Zawartość modułu: </h3>
        <div ng-if="COURSE_VIEW_TYPE < 2" class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".sidebar-navbar-collapse">
                        <span class="sr-only">Zmień nawigacje</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="visible-xs navbar-brand">Zawartość modułu</span>
                </div>
                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li ng-class="{active: it.id == id2}" ng-repeat="it in otherMaterials"><a
                                ui-sref="materialView({id2: it.id, id1: id1})"><span mathjax-bind="it.title"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="jumbotron text-center">
            <h2 ng-if="COURSE_VIEW_TYPE < 1" mathjax-bind="title"></h2>
            <h3 ng-if="COURSE_VIEW_TYPE < 2" mathjax-bind="titleModule"></h3>
            <h4 mathjax-bind="material.title"></h4>
        </div>

        <div class="well text-center">

            <!-- example -->
            <div type-example></div>

            <!-- theorem -->
            <div type-theorem></div>

            <!-- definition -->
            <div type-definition></div>

            <!-- dowod -->
            <div type-proof></div>

            <div class="math-content" mathjax></div>

        </div>
    </div>
</div>



