<h2>Zawartość modułu</h2>


<div class="well">
    <div class="row">
        <div class="col-sm-6">
            <label for="search">Szukaj:</label>
            <input placeholder="Wpisz szukaną frazę" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"
                   ng-model="q">
        </div>
        <div class="col-sm-6">
            <label for="search">Liczba materiałów na stronę:</label>
            <input type="number" ng-model="pageSize"
                   class="form-control ng-valid ng-valid-min ng-valid-max ng-dirty ng-valid-number ng-touched" max="100"
                   min="1">
        </div>
    </div>
</div>


<div class="well" dir-paginate="material in materials | filter:q | itemsPerPage: pageSize">
    Nazwa: <span mathjax-bind="material.title"></span>
    <br> Opis: <span mathjax-bind="material.description"></span>
    <ul class="pager">
        <li class="next"><a class="btn btn-success btn-sm" ui-sref="materialView({id2: material.id, id1: id})">Zobacz
            więcej →</a></li>
    </ul>
</div>
<div class="text-center">
    <dir-pagination-controls template-url="partials/dirPagination.tpl.html"></dir-pagination-controls>
</div>


<div class="btn-group btn-group-justified">
    <a ng-if="COURSE_VIEW_TYPE < 1" ui-sref="courseContent" class="btn btn-default">Powrót do zawartości kursu</a>
    <a ng-click="goFullscreen()" class="btn btn-primary">{{ screen }}</a>
</div>