<div class="modal-content">
    <form action="" method="post" enctype="multipart/form-data">
        <div class="form-horizontal">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                {% block modal_content %}

                {% endblock %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                <input type="submit" class="btn btn-primary" value="Zapisz">
            </div>
        </div>
    </form>
</div>
