<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% if page_title %}{{ page_title }} - {% endif %} {{ site_name }}{% endblock %}</title>
    <meta name="keywords" content="{{ meta_keywords }}">
    <meta name="description" content="{{ meta_description }}">
    <meta name="author" content="">
    <base href="/">

    {% load staticfiles compress %}

    {#    <link rel="stylesheet" href="{% static 'django_modalview/css/bootstrap.min.css' %}" type="text/css" />#}
    <link rel="stylesheet" href="{% static 'django_modalview/css/modal.css' %}" type="text/css" />

    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/metisMenu/dist/metisMenu.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sb-admin-2.css' %}">

    <link rel="stylesheet" href="{% static 'css/multi-select.css' %}">
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">

    <link rel="stylesheet" href="{% static 'bower_components/datatables-responsive/css/responsive.dataTables.scss' %}" type="text/x-scss">
    <link rel="stylesheet" href="{% static 'css/generator.css' %}">





    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

    <script type="text/x-mathjax-config">
            MathJax.Hub.Config({ tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]} });
        </script>
    <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>


    <script type="text/javascript" src="{% static 'django_modalview/js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/jquery.quicksearch.js' %}"></script>
    <script src="{% static 'js/jquery.multi-select.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>

    {#    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>#}
{#    <script type="text/javascript">#}
{#        tinymce.init({#}
{#            selector: 'textarea',#}
{#            skin: 'lightgray',#}
{#            forced_root_block : "",#}
{#            entity_encoding : "raw"#}
{#        });#}
{#    </script>#}

    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_modalview/js/django_modal_view.js' %}"></script>

    <script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>
    <script src="{% static 'bower_components/lodash/lodash.min.js' %}"></script>
    <script src="{% static 'js/sb-admin-2.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>



</head>

<body>

<div id="wrapper">

    {% block page_wrapper %}

        {% load web_tags %}
        {% nav_menu %}

        <div id="page-wrapper">
            {% block content %}

            {% endblock %}
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document"></div>
        </div>

    {% endblock %}
</div>


{% block extra_script %}{% endblock %}

</body>

</html>
