{% extends "web/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Witamy na stronie generatora kursów
            </h1>
        </div>
    </div>
{% endblock %}
