{% verbatim %}
<!doctype html>
<html lang="pl" ng-app="CourseOutputApp" ng-controller="mainController">

<head>
    <title>{{ title.title() }}</title>
    <meta charset="utf-8">

    {% endverbatim %}

    <!-- <base href="/"> -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/course-icon.png" sizes="300x300">

    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,700&subset=latin,latin-ext'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Patrick+Hand|Patrick+Hand+SC&subset=latin,latin-ext'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/animations.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/animations.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/media-queries.css" type="text/css">

    <!-- uncomment for get Yeti themes -->
    {#    <link rel="stylesheet" href="{{ STATIC_URL }}css/themes/yeti/yeti.min.css" type="text/css">#}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css">

    <!-- uncomment for get Cyborg themes -->
    <!-- <link rel="stylesheet" href="{{ STATIC_URL }}css/themes/cyborg/cyborg.min.css" type="text/css"> -->
    <!-- <link rel="stylesheet" href="{{ STATIC_URL }}css/themes/cyborg/style.css" type="text/css"> -->

    {% for theme_file in theme_files_css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/themes/{{ theme_file }}" type="text/css">
    {% endfor %}


    <link rel="stylesheet" href="{{ STATIC_URL }}plugins/picture/style.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}plugins/testonechoice/style.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}plugins/video/style.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}plugins/text/style.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}plugins/testmultichoice/style.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}plugins/singleinput/style.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}plugins/iframe/style.css" type="text/css">


    {% for static_file in static_files_css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}{{ static_file }}" type="text/css">
    {% endfor %}

    {% if not download %}
        <script>
            var COURSE_VIEW_TYPE = {{ course_type }};
            var STATIC_URL = '/static/'
        </script>

    {% else %}
        <script src="data/config.js"></script>
    {% endif %}

    <script src="{{ STATIC_URL }}js/jquery-1.11.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>

    <script src="{{ STATIC_URL }}js/angular/angular.min.js"></script>
    <script src="{{ STATIC_URL }}js/angular/angular-resource.min.js"></script>
    <script src="{{ STATIC_URL }}js/angular/angular-cookies.min.js"></script>
    <script src="{{ STATIC_URL }}js/angular/angular-route.min.js"></script>
    <script src="{{ STATIC_URL }}js/angular/angular-ui-router.min.js"></script>
    <script src="{{ STATIC_URL }}js/angular/angular-fullscreen.js"></script>
    <script src="{{ STATIC_URL }}js/angular/angular-bootstrap-checkbox.js"></script>
    <script src="{{ STATIC_URL }}js/angular/angular-youtube-embed.js"></script>
    <script src="{{ STATIC_URL }}js/angular/dirPagination.js"></script>


    <script src="{{ STATIC_URL }}angular/app.js"></script>
    <script src="{{ STATIC_URL }}angular/controllers/courseDescriptionController.js"></script>
    <script src="{{ STATIC_URL }}angular/controllers/courseContentController.js"></script>
    <script src="{{ STATIC_URL }}angular/controllers/materialViewController.js"></script>
    <script src="{{ STATIC_URL }}angular/controllers/moduleContentController.js"></script>
    <script src="{{ STATIC_URL }}angular/controllers/errorPageController.js"></script>
    <script src="{{ STATIC_URL }}angular/controllers/mainController.js"></script>
    <script src="{{ STATIC_URL }}plugins/picture/pictureController.js"></script>
    <script src="{{ STATIC_URL }}plugins/testonechoice/testonechoiceController.js"></script>
    <script src="{{ STATIC_URL }}plugins/video/videoController.js"></script>
    <script src="{{ STATIC_URL }}plugins/text/textController.js"></script>
    <script src="{{ STATIC_URL }}plugins/testmultichoice/testmultichoiceController.js"></script>
    <script src="{{ STATIC_URL }}plugins/singleinput/singleinputController.js"></script>
    <script src="{{ STATIC_URL }}plugins/iframe/iframeController.js"></script>

    {% for static_file in static_files_js %}
        <script src="{{ STATIC_URL }}{{ static_file }}"></script>
    {% endfor %}

    {% if not download %}
        <script>
            Services.factory('courseLoaderService', ['$resource', function ($resource) {
                return $resource("{{ api_url }}", {
                    cache: true
                });

            }]);

        </script>

    {% else %}

        <script src="{{ STATIC_URL }}angular/services/courseLoaderService.js"></script>
    {% endif %}
    <script src="{{ STATIC_URL }}angular/services/setTitleService.js"></script>

    <script src="{{ STATIC_URL }}angular/directives/mathjaxBind.js"></script>
    <script src="{{ STATIC_URL }}angular/directives/typeMaterial.js"></script>
    <script src="{{ STATIC_URL }}angular/directives/plugins.js"></script>

    <script src="{{ STATIC_URL }}angular/filters/myFilters.js"></script>

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({ tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}

        });

    </script>

    <script src="{{ STATIC_URL }}js/responsiveMathJax.js"></script>

    <script type="text/x-mathjax-config">

        var imported = document.createElement('script');
        imported.src = STATIC_URL + './js/responsiveMathJaxConfig.js';
        document.head.appendChild(imported);

    </script>
    <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>


</head>

<body>

{% if not download %}

    <aside style="position: fixed; top: 20%; left: 0; width: 100px">
        <a href="{{ back_href }}">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="row">
                        <i class="glyphicon glyphicon-arrow-left"></i>
                        Generator
                    </div>
                </div>
            </div>
        </a>
    </aside>

{% endif %}

<div class="container">

    <div ui-view></div>

</div>

<div class="se-pre-con"></div>
</body>

</html>

