body,
html {
    width: 100%;
    height: 100%;
}
* {
	/*font-family: 'Titillium Web', sans-serif;
	font-family: 'Cabin Sketch', cursive;*/
	font-family: 'Patrick Hand SC', cursive;
}

/* MATEUSZ */

.cover {
    height: 100%;
    width: 100%;
  	background: url('../img/bg1.jpg');
    background-size: cover;
    overflow: auto;
}

.cover .content {
    font-family: 'Patrick Hand', cursive;
    height: 90%;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    background: url(../img/leafofnotebook.png) no-repeat;
    background-size: contain;
    -webkit-box-shadow: 4px 3px 20px 1px rgba(0,0,0,1);
    box-shadow: 4px 3px 20px 1px rgba(0,0,0,1);
    color: rgba(0, 0, 0, 0.9);
}

.cover .content .course {
     font-size: 4.0vh;
     padding-top: 13%;
     text-align: center;
}

.cover .content .course-name {
    font-size: 3.5vh;
    padding-top: 2%;
    text-align: center;
}

.cover .content .description {
    font-size: 3.1vh;
    margin: 10% 15% 0 15%;
    text-align: justify;
}

.cover .content .caption {
    font-size: 3.2vh;
    position: absolute;
    bottom: 5%;
    right: 5%;
    text-align: right;
}



/*******************MATERIALS*******************************/


.materials {
    width: 100%;
    background: url(../img/walltexture.png) #f1eedc;
    height: 100%;
    overflow: auto;
    color: #eee;
}

.materials .content {
    background: #855e42 url("../img/woodtexture.jpg") repeat;
    border-radius: 10px;
    box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.4);
    display: block;
    margin: 40px auto;
    max-width: 90%;
    padding: 40px;   
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 5em;
}

.materials .content .page {
    background: #000 url("../img/chalk2.jpg") repeat;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5) inset;
    display: block;
    margin: 0 auto;
    max-width: 88%;
    padding: 15px 100px 5px;
    z-index: 10;   
}

.materials .content .page .footer {
    background: rgba(0, 0, 0, 0) url("../img/boardbottom-new.png") no-repeat scroll center bottom / 100% auto;
    clear: both;
    display: block;
    margin: 50px auto -8px;
    max-width: 800px;
    min-height: 126px;
    text-align: center;
    width: 100%;
}

.materials .content .page {
     text-align: center;
     line-height: 1.2;
}


.materials .content .page h1 {
    font-size: 5.0vmax;
}

.materials .content .page h2 {
    font-size: 4.5vmax;
}

.materials .content .page h3 {
    font-size: 3.0vmax;
}

.materials .content .page .math-content {
    margin-top: 50px;
    font-size: 2.5vmax;
}

.materials .content .page .separator:after {
    background: rgba(0, 0, 0, 0) url("../img/postseparator2.png") no-repeat scroll center bottom / 405px auto;
    clear: both;
    content: "";
    display: block;
    height: 40px;
    width: 100%;
}







/* END MATEUSZ */

/* OSKAR */

.modules {
	background: url('../img/bg1.jpg');
	background-size: cover;
	overflow: auto;
	min-height: 100%;
}
.modules .grid {
	max-width: 1100px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 100px;
	overflow: auto;
}
.modules .grid h1 {
	font-size: 50px;
	color: #fff;
	text-align: center;
	padding: 40px 0;	
}
.modules .parts section {
	width: 30%;
	margin: 1.5%;
	float: left;
}
.modules .parts section img {
	width: 100%;
}
.modules .parts section figure {
	position: relative;
}
.modules .parts section figcaption {
	color: #fff;
	font-size: 40px;

	width: 70%;
	margin: auto;
	position: absolute;
	top: 50%; left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.modules .parts section:hover figcaption {
	color: #aaa;

}
b {
	font-weight: 400;	
}


/* END OSKAR */

