<div class="panel panel-default">
    <div class="panel-heading">
        {$ proof.title $}
    </div>
    <div class="panel-body">
        <div class="col-md-2">
            <label>Treść:</label>
        </div>
        <div class="col-md-10" mathjax-bind="proof.text"></div>
        <div class="clearfix"></div>
        <div class="col-md-2">
            <label>Opis:</label>
        </div>
        <div class="col-md-10">
            {$ proof.description $}
        </div>
        <div class="clearfix"></div>
        <div class="proof-parts-container" ng-repeat="part in proof.parts">
            <div class="col-md-2">
                <label>Część {$ part.number $}:</label>
            </div>
            <div class="col-md-10" mathjax-bind="part.text"></div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<a ui-sref="proofs.edit({ id: proof.id})" class="btn btn-primary">Edytuj</a>
<button ng-click="delete();" class="btn btn-danger">Usuń</button>
