<form role="form" name="thoremForm" novalidate>
    <div class="panel panel-default">
        <div class="panel-heading">
            Edycja dowodu
        </div>
        <div class="panel-body">
            <div class="has-feedback form-group">
                <label>Tytuł:</label>
                <input type="text" class="form-control" ng-model="proof.title">
            </div>
            <div class="has-feedback form-group">
                <label>Treść:</label>
                <textarea class="form-control" ng-model="proof.text" rows="5"></textarea>
            </div>
            <div class="has-feedback form-group">
                <label>Opis:</label>
                <textarea class="form-control" ng-model="proof.description" rows="5"></textarea>
            </div>
            <fieldset>
                <legend>Podział dowodu</legend>
                <div class="row" ng-repeat="part in proof.parts">
                    <div class="col-md-2">
                        {$ part.number $}
                    </div>
                    <div class="col-md-10">
                        <textarea class="form-control" ng-model="part.text" rows="3"></textarea>
                    </div>
                </div>
                <button ng-click="newPart();" class="btn btn-primary">Dodaj nową część</button>
            </fieldset>
        </div>
    </div>
    <input type="submit" ng-click="submit();" class="btn btn-success" value="Zapisz">
</form>
