<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Definicje
            <a ui-sref="definitions.new" class="btn btn-primary">Dodaj nowy</a>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div ui-view>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Lista dostępnych definicji
                </div>
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tytuł</th>
                                    <th>Treść</th>
                                    <th>Opis</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="definition in definitions">
                                    <td>{$ definition.id $}</td>
                                    <td>
                                        <a ui-sref="definitions.detail({id: definition.id}) ">
                                            {$ definition.title $}
                                        </a>
                                    </td>
                                    <td mathjax-bind="definition.text"></td>
                                    <td>{$ definition.description $}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
