<form role="form" name="definitionForm" novalidate>
    <div class="panel panel-default">
        <div class="panel-heading">
            Tworzenie nowej definicji
        </div>
        <div class="panel-body">
            <div class="has-feedback form-group">
                <label>Tytuł:</label>
                <input type="text" class="form-control" ng-model="definition.title">
            </div>
            <div class="has-feedback form-group">
                <label>Treść:</label>
                <textarea class="form-control" ng-model="definition.text" rows="5"></textarea>
            </div>
            <div class="has-feedback form-group">
                <label>Opis:</label>
                <textarea class="form-control" ng-model="definition.description" rows="5"></textarea>
            </div>
        </div>
    </div>
</form>
<input type="submit" ng-click="submit();" class="btn btn-success" value="Utwórz">
