<div class="plugin-text">

    <div class="panel panel-warning">
        <div class="panel-heading text-left">
            <h3 class="panel-title">{{ title }}</h3>
        </div>
        <div class="panel-body" mathjax-bind="content">

        </div>
    </div>

</div>