{% extends "base/object_detail.html" %}

{% block extra_base_data %}

    <div class="has-feedback form-group">
        <label class="col-sm-2 control-label">Treść:</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ object.text | safe }}</p>
        </div>
    </div>

{% endblock %}

{% block preview %}{% endblock %}
